html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #343541;
}

nav {
    height: 5vh;
    width: 100vw;
    color: #fff;
    background-color: #191919;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.split {
    display: flex;
    height: 95vh;
}

.contacts-bar {
    width: 15vw;
    height: 95vh;
    background-color: #000000;
    display: block;
}

.chat {
    width: 85vw;
    height: 95vh;
    background-color: #343541;
    display: block;
}

.chat-history {
    width: 85vw;
    height: 90vh;
}

.chat-input {
    width: 85vw;
    height: 5vh;
    display: flex;
}

.chat-input>input {
    width: 80vw;
    height: 5vh;
    font-size: 1.5vw;
    border-radius: 0.4vw;
}

.button-send {
    height: 5vh;
    width: 4.5vw;
    margin-left: 0.4vw;
    background-color: #2ea44f;
    border-radius: 0.6vw;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(2.5vw, 2.5vh);
    text-align: center;
    vertical-align: middle;
}

.button-send:hover {
    background-color: #2c974b;
}